server:
  port: 7777

spring:
  application:
    name: discovery-server
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

